.department__title {
  text-align: center;
}

.department__container {
  display: flex;
  justify-content: center;
}

.department__select {
  margin: 0 0.7rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background: #DD0021;
  color: white;
  border: none;
}

@media (max-width: 1024px) {
  .department__select {
    width: 60%;
  }
}
